/*init state*/
.b-main,
.b-success,
.b-error,
.b-browser-disparity{
    display: none;   
}
.bg-primary{
    color: #ffffff;
}
.b-preloader{
    background-image: url('./img/preloader.gif');
    background-size: cover;
    width: 100px;
    height: 100px;
    float: left;
}
.b-preloader.m-file{
    width: 25px;
    height: 25px;
}
.b-preloader.m-btn{
    width: 38px;
    height: 38px;
}